@layer utilities {
  .cluster{ display:flex; flex-wrap:wrap; gap: var(--space-2); align-items:center; }
  .stack > * + * { margin-block-start: calc(var(--space-6) * .4); }
  .is-center{ text-align:center; }
  .is-muted{ color: var(--gray-600); }
  .text-xs{ font-size:.8rem; }
  .sidebar-title{ font-weight:700; margin-block-end: var(--space-2); }
  .toc{ padding-left: 1.2rem; display:grid; gap:.5rem; }
}
